{{define "content"}}
  <div class="section" id="page-notfound">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <div class="body teal-text text-accent-4">
            <h2>404</h2>
            <div class="title-wrapper">
              <h4>OOPS, COULD NOT FOUND</h4>
            </div>

            <P>There's a lot of reasons why this page is <a class="teal-text text-accent-4" href="/">404</a>.
            </P>
            
            <span>Don't waste your time enjoying the look of it</span>
          </div>
        </div>
      </div>
    </div>
  </div>
{{end}}