<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex, nofollow" />
    <meta name="format-detection" content="telephone=no">

    <title>{{.page_title}}</title>

  </head>

  <body id="coinsnav-themes">
    {{template "partials_flash" .}}
    <header class="base">
      {{template "partials_header" .}}
    </header>


    {{template "content" .}}

    <footer class="page-footer teal accent-4">
      {{template "partials_footer" .}}
    </footer>


  </body>
</html>
